/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; /* Optional: Menghindari masalah padding/border memperbesar elemen */
}
html,
body {
  width: 100%;
  height: 100vh;
  /* user-select: none; */
  display: flex;
  background-color: #fff;
}
body {
  background-color: grey;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

/* Custom scrollbar browser WebKit (Chrome, Safari, Opera) */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #ccc; /* Poros warna abu-abu */
}

::-webkit-scrollbar-thumb {
  background-color: #0077b6; /* Thumb warna biru */
  border-radius: 4px;
}

/* Loader on rs-content*/
#overlay {
  position: fixed;
  width: calc(100% - 200px);
  height: 100vh;
  top: 0;
  right: 0;
  background-color: #f2fafd;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-top: 4px solid #0077b6;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 230px;
  min-width: 50px;
  max-width: 400px;
  height: 100vh;
  overflow: hidden;
  position: relative;
  /* background-image: url("../image/sidebar-bg.jpg");
  background-size: cover;
  background-position: center; */
  background-image: linear-gradient(0deg, #3e3b92 3.6%, #f44369 87.6%);
}

.nav-link.active {
  font-weight: bold !important;
  background-color: rgba(0, 0, 0, 0.2);
  /* Ganti dengan gaya yang diinginkan */
}

/* Accordion */
.accordion-item {
  background-color: transparent; /* Atur latar belakang accordion */
  border-bottom: 1px solid #dee2e6; /* Atur garis pemisah */
}

/* Tombol accordion */
.accordion-button {
  background-color: transparent !important; /* Atur latar belakang tombol accordion */
  color: black; /* Atur warna teks tombol accordion */
}

/* Konten accordion */
.accordion-body {
  background-color: transparent; /* Atur latar belakang konten accordion */
  border-top: 1px solid #dee2e6; /* Atur garis pemisah */
}
.resizer {
  width: 4px;
  top: 0;
  right: 0;
  cursor: ew-resize;
  height: 100%;
  position: absolute;
  background-color: transparent;
  transition: background-color 0.3s ease;
  z-index: 100;
}
.resizer:hover {
  background-color: #0077b6;
}
.rs-content {
  flex-grow: 1;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden !important;
  padding: 2rem 3rem;
  background-color: #f2fafd;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sidebar ul {
  padding: 0;
}
.sidebar .nav-link {
  padding: 1rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1rem;
  white-space: nowrap !important;
}
.nav-link svg {
  flex-shrink: 0; /* Menghentikan ikon dari pengecilan */
  fill: #fff;
}
.text-link {
  flex-grow: 1; /* Memungkinkan teks untuk memperluas dan menyembunyikan jika tidak muat */
  overflow: hidden;
  font-weight: 500;
  font-size: 0.8rem;
  white-space: nowrap; /* Mencegah pemisahan kata */
  color: #fff;
}
/* Main CSS */
.paper-wrapper {
  padding: 2rem;
  color: #555;
  width: 100%;
  box-shadow: 2px 3px 26px 0px #c2dbed;
  display: inline-block;
  position: relative;
  background: #fff;
  border: 1px solid #f4f4f4;
  margin: 0px;
}
#placeholder-container,
#signature-placeholder-container {
  display: block;
  width: 160px;
  height: 160px;
  font-size: 9px;
  color: #0077b6;
  border: 1px dashed #0077b6;
  border-radius: 8px;
}
#logo-preview,
#signature-preview {
  display: block;
  max-width: 160px;
  max-height: 160px;
}
#logo,
#signature {
  /* Input Logo */
  width: 160px;
  height: 160px;
  opacity: 0;
}
#changeImage,
#changeSignature {
  width: 160px;
  height: 160px;
  background-color: rgba(255, 255, 255, 0.8);
  pointer-events: none;
  font-size: 12px;
  color: #0077b6;
}
#image-preview-container,
#signature-preview-container {
  display: none;
  overflow: hidden;
  width: 160px;
  height: 160px;
  border: 1px dashed #0077b6;
  border-radius: 8px;
}
#cancelButton,
#cancelButtonSignature {
  display: none;
}
#cancelButton,
#cancelButtonSignature,
.btn-cancel {
  background-color: transparent;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%23999999"><path d="m336-280 144-144 144 144 56-56-144-144 144-144-56-56-144 144-144-144-56 56 144 144-144 144 56 56ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z" /></svg>');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
}
#cancelButton:hover,
#cancelButtonSignature:hover,
.btn-cancel:hover {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%23dc3545"><path d="m336-280 144-144 144 144 56-56-144-144 144-144-56-56-144 144-144-144-56 56 144 144-144 144 56 56ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z" /></svg>');
}
#refreshButton,
#refreshButton2 {
  font-size: 10px;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23999999'%3E%3Cpath d='M480-160q-134 0-227-93t-93-227q0-134 93-227t227-93q69 0 132 28.5T720-690v-110h80v280H520v-80h168q-32-56-87.5-88T480-720q-100 0-170 70t-70 170q0 100 70 170t170 70q77 0 139-44t87-116h84q-28 106-114 173t-196 67Z'/%3E%3C/svg%3E");
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#refreshButton:hover,
#refreshButton2:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23dc3545'%3E%3Cpath d='M480-160q-134 0-227-93t-93-227q0-134 93-227t227-93q69 0 132 28.5T720-690v-110h80v280H520v-80h168q-32-56-87.5-88T480-720q-100 0-170 70t-70 170q0 100 70 170t170 70q77 0 139-44t87-116h84q-28 106-114 173t-196 67Z'/%3E%3C/svg%3E");
}
.image {
  width: 160px;
  height: 160px;
}

/* Dashboard */
.card-sticky {
  position: relative;
}
.card-sticky::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 6px;
  width: calc(100% - 6px);
  height: 16px;
  background-color: #fff;
}
.card-header-sticky {
  position: relative;
}
.card-header-sticky::before {
  position: absolute;
  content: "";
  bottom: -17px;
  left: 0;
  width: calc(100% - 6px);
  height: 16px;
  background-color: #fff;
}
.thead-sticky th {
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
  border: none;
}

/* Custom Bootstrap CSS */
.card-title {
  font-size: 0.9rem;
}
.card-body {
  padding: 8px;
}
.card-footer {
  padding: 4px 8px;
}
.card-link {
  font-size: 0.8rem;
  color: #0077b6;
}
.btn {
  border-width: 2px; /* Atur lebar border */
  font-size: 0.8rem;
  border-radius: 20px;
  padding-inline: 20px;
  transition: background-color 0.5s ease;
}
.btn-icon {
  padding-left: 45px;
  box-shadow: 0 4px 6px #32325d1c, 0 1px 3px #0000001a;
}
.btn-add {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20px' viewBox='0 -960 960 960' width='20px' fill='%23ffffff'%3E%3Cpath d='M444-288h72v-156h156v-72H516v-156h-72v156H288v72h156v156Zm36.28 192Q401-96 331-126t-122.5-82.5Q156-261 126-330.96t-30-149.5Q96-560 126-629.5q30-69.5 82.5-122T330.96-834q69.96-30 149.5-30t149.04 30q69.5 30 122 82.5T834-629.28q30 69.73 30 149Q864-401 834-331t-82.5 122.5Q699-156 629.28-126q-69.73 30-149 30Zm-.28-72q130 0 221-91t91-221q0-130-91-221t-221-91q-130 0-221 91t-91 221q0 130 91 221t221 91Zm0-312Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 20px center; /* Posisi SVG di kiri */
}
.btn-add:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%233e3b92'%3E%3Cpath d='M444-288h72v-156h156v-72H516v-156h-72v156H288v72h156v156Zm36.28 192Q401-96 331-126t-122.5-82.5Q156-261 126-330.96t-30-149.5Q96-560 126-629.5q30-69.5 82.5-122T330.96-834q69.96-30 149.5-30t149.04 30q69.5 30 122 82.5T834-629.28q30 69.73 30 149Q864-401 834-331t-82.5 122.5Q699-156 629.28-126q-69.73 30-149 30Zm-.28-72q130 0 221-91t91-221q0-130-91-221t-221-91q-130 0-221 91t-91 221q0 130 91 221t221 91Zm0-312Z'/%3E%3C/svg%3E");
  background-position: 18px center; /* Posisi SVG di kiri */
}
.accordion-body > ul {
  list-style-type: none; /* Menghilangkan bullet points */
}
.custom-card {
  background: linear-gradient(90deg, #f44369, #3e3b92) !important;

  color: #fff;
}
/* DataTables Custom Table CSS */
#example_wrapper .dt-info,
#example {
  font-size: 14px !important;
}
#example thead tr th {
  background-color: transparent !important;
  font-weight: 700;
  font-size: 13px;
}
#example tbody tr td {
  height: 50px !important;
  vertical-align: middle;
  padding: 0 8px !important;
  border-top: 1px solid #007bff7b;
  border-bottom: 1px solid #007bff7b;
}
/* #example tbody tr {
  box-shadow: 0px 3px 15px 0px #c2dbed63;
} */
/* #example {
  border-collapse: separate;
  border-spacing: 0 14px;
} */
td .btn-group {
  margin-left: 30px;
  padding-left: 30px;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  cursor: default;
}
/* Tooltip */
.custom-tooltip .tooltip-inner {
  background-color: #2c0b0e; /* Warna background tooltip */
  color: #ea868f; /* Warna teks tooltip */
  font-size: 0.875rem; /* Ukuran teks */
}

.custom-tooltip.bs-tooltip-top .tooltip-arrow::before,
.custom-tooltip.bs-tooltip-auto[data-popper-placement^="top"]
  .tooltip-arrow::before {
  border-top-color: #2c0b0e; /* Warna background arrow untuk posisi top */
}

.custom-tooltip.bs-tooltip-bottom .tooltip-arrow::before,
.custom-tooltip.bs-tooltip-auto[data-popper-placement^="bottom"]
  .tooltip-arrow::before {
  border-bottom-color: #2c0b0e; /* Warna background arrow untuk posisi bottom */
}

.custom-tooltip.bs-tooltip-start .tooltip-arrow::before,
.custom-tooltip.bs-tooltip-auto[data-popper-placement^="left"]
  .tooltip-arrow::before {
  border-left-color: #2c0b0e; /* Warna background arrow untuk posisi left */
}

.custom-tooltip.bs-tooltip-end .tooltip-arrow::before,
.custom-tooltip.bs-tooltip-auto[data-popper-placement^="right"]
  .tooltip-arrow::before {
  border-right-color: #2c0b0e; /* Warna background arrow untuk posisi right */
}

/* Button Action CSS */
.btn-act {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
}
.btn-view {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23B7B7B7'%3E%3Cpath d='M440-280h80v-240h-80v240Zm40-320q17 0 28.5-11.5T520-640q0-17-11.5-28.5T480-680q-17 0-28.5 11.5T440-640q0 17 11.5 28.5T480-600Zm0 520q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z'/%3E%3C/svg%3E");
  transition: background 0.5s ease;
}
.btn-edit {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23B7B7B7'%3E%3Cpath d='M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h357l-80 80H200v560h560v-278l80-80v358q0 33-23.5 56.5T760-120H200Zm280-360ZM360-360v-170l367-367q12-12 27-18t30-6q16 0 30.5 6t26.5 18l56 57q11 12 17 26.5t6 29.5q0 15-5.5 29.5T897-728L530-360H360Zm481-424-56-56 56 56ZM440-440h56l232-232-28-28-29-28-231 231v57Zm260-260-29-28 29 28 28 28-28-28Z'/%3E%3C/svg%3E");
  transition: background 0.5s ease;
}
.btn-del {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23B7B7B7'%3E%3Cpath d='M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z'/%3E%3C/svg%3E");
  transition: background 0.5s ease;
}
.btn-view:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23007bff'%3E%3Cpath d='M440-280h80v-240h-80v240Zm40-320q17 0 28.5-11.5T520-640q0-17-11.5-28.5T480-680q-17 0-28.5 11.5T440-640q0 17 11.5 28.5T480-600Zm0 520q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z'/%3E%3C/svg%3E");
}
.btn-edit:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23FF8C00'%3E%3Cpath d='M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h357l-80 80H200v560h560v-278l80-80v358q0 33-23.5 56.5T760-120H200Zm280-360ZM360-360v-170l367-367q12-12 27-18t30-6q16 0 30.5 6t26.5 18l56 57q11 12 17 26.5t6 29.5q0 15-5.5 29.5T897-728L530-360H360Zm481-424-56-56 56 56ZM440-440h56l232-232-28-28-29-28-231 231v57Zm260-260-29-28 29 28 28 28-28-28Z'/%3E%3C/svg%3E");
}
.btn-del:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23dc3545'%3E%3Cpath d='M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z'/%3E%3C/svg%3E");
}
input[readonly] {
  pointer-events: none;
  background-color: #f0f0f0; /* Opsional: Memberikan efek visual */
}

/* DataTables Print CSS */
body.dt-print-view {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  font-size: 0.9rem;
  width: 100%;
}
body.dt-print-view table {
  border-collapse: collapse;
}
body.dt-print-view table td {
  overflow: visible;
  overflow-wrap: break-word !important;
  white-space: wrap !important;
}
